html, body {
  height: 100%;
  background: #FCFAF4;
}
/* .bg-image {
  background-image: url('neighbourhood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
} */

.login-form {
  height: auto;
  width: 320px; /*compensate for input border*/
  padding-bottom:30px;
  background: rgb(248, 202, 202);
  border-radius:50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.login-form .avatar-pic {
  width:auto;
  height:auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.login-form form {
  width: 250px;
  display:block;
  margin-left:auto;
  margin-right:auto;

}

.login-form input {
  margin-bottom: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 8px;
}

.login-form form button {
  padding: 10px;
  border-radius:8px;
}

.login-form form label {
  cursor: pointer;
}

#form-switch {
  display: none;
}

#register-form {
  display: none;
}

#form-switch:checked~#register-form {
  display: block;
}

#form-switch:checked~#login-form {
  display: none;
}