/* Style Navigation Bar */
.topnav {
    position: sticky;
    background-color: #FCFAF4;
    overflow: hidden;

}

.topnav form label {
    float:left;
    padding-left: 20px;
    font-size: 25px;
    color: #F52A3A;
    font-weight: bold;
    font-family: "Ink Free";
    width: 1000px;
}

.topnav form input[type=text] {
    float:initial;
    box-sizing: border-box;

    font-size: 15px;
    width: 300px;

    border: none;
    border-radius: 25px;
    border-bottom: 2px solid #F52A3A;

    margin: 8px 8px;
    padding: 12px 20px 12px 40px;

    background-image: url('search_icon.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-color: #FCFAF4;

    transition: width 0.4s ease-in-out;

}

.topnav form input[type=text]:focus {
    outline: none;
    width: 50%;
}

/* */