. user-settings {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFC040;
}

.main-bar{
    position:relative;
    bottom: 42px;
    right: 20px;
    width: 105%;
    background-color: #FFCC67;
    border-radius: 25px;
    color:#f2f2f2;
    text-align:center;

}

.main {
    position:relative;
    left: 400px;
    top: 150px;
    float: center;
    padding: 20px;
    width: 50%;
    background-color: #99A09F;
    border-radius: 25px;
}

