@(userForm: Form[UserData], postUrl: Call)(implicit messages: MessagesRequestHeader)

@import helper._

@implicitField = @{FieldConstructor(inputFieldHelper.render)}
<html>

    <head>
        <title>Cash For Chores</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/acc_creation.css")">
    </head>

    <body>
        <div class="hero">


            <div class="wrapper">
                <div class="logo">
                    <img src="@routes.Assets.versioned("images/CashBackground.jpg")" style="width: 190px; height: 160px" alt="">
                </div>

                <div class="gettingstarted">
                    <h1>Getting Started</h1>
                    <a href="@routes.LoginController.login()">Already have an account?</a>
                </div>

                <div class="typeOfAccount">

                    <div id="btnHire"> </div>
                    <button type= "button" class= "toggle-btn" onclick="freelancer()">Work As Freelancer</button>
                    <button type= "button" class= "toggle-btn" onclick="hire()">Hire For Project</button>
                </div>
                @helper.form(postUrl, args = Symbol("id") -> "freelancer"){
                    <div class="information">
                        @helper.CSRF.formField

                        @helper.inputText(
                            userForm("firstname"),
                            args = Symbol("placeholder") -> "Enter First Name",
                            Symbol("class") -> "input_field",
                        )
                        @helper.inputText(
                            userForm("lastname"),
                            args = Symbol("placeholder") -> "Enter Last Name",
                            Symbol("class") -> "input_field"
                        )

                        @helper.inputText(
                            userForm("phone"),
                            args = Symbol("placeholder") -> "Enter Phone Number",
                            Symbol("class") -> "input_field"
                        )

                        @helper.inputPassword(
                            userForm("password"),
                            args = Symbol("placeholder") -> "Choose Password",
                            Symbol("class") -> "input_field"
                        )

                        @helper.inputText(
                            userForm("email"),
                            args = Symbol("placeholder") -> "Enter Email",
                            Symbol("class") -> "input_field"
                        )


                        <button type="submit" class="next-btn" >Next </button>

                    </div>
                </form>

            </div>
        </div>

        <script>

        var z = document.getElementById("btnHire");

        function hire(){
            z.style.left = "150px";
            window.location.href = "http://localhost:9000/creation/hire"
        }

        function freelancer(){
            z.style.left = "0px";
            window.location.href = "http://localhost:9000/creation/work"
        }

    </script>

    </body>
</html>
}