@(userFormData: Form[User], postUrl: Call)(implicit request: MessagesRequestHeader)
<!-- @(userFormData: Form[User])(implicit request: MessagesRequestHeader) -->


@main("Login") {

<body>
    <div class="hero">


        <div class="wrapper">
            <div class="logo">
                <img src="@routes.Assets.versioned("images/CashBackground.jpg")" style="width: 200px;" alt="">
            </div>

            <div class="gettingstarted">
                <h1>Getting Started</h1>
                <a style="font-size: 15px;" href="@routes.CreationController.hire()">Don't have an account? Register
                    here</a>
            </div>

            @helper.form(action = routes.LoginController.validateLoginUser()) {
            <div class="information">
                @helper.CSRF.formField

                @helper.inputText(
                    userFormData("email"),
                    'placeholder -> "Email",
                    '_id -> "",
                    '_label -> "",
                    '_help -> "",
                    '_info -> "",
                )

                @helper.inputPassword(
                userFormData("password"),
                    'placeholder -> "Password",
                    '_id -> "",
                    '_label -> "",
                    '_help -> "",
                    '_info -> "",
                )

                <button type="submit" class="next-btn">Login</button>

            </div>
            }

        </div>
    </div>

    <!-- <script>

        var z = document.getElementById("btn");

        function hire(){
            z.style.left = "150px";
            window.location.href = "http://localhost:9000/creation/hire"
        }

        function freelancer(){
            z.style.left = "0px";
            window.location.href = "http://localhost:9000/creation/work"
        }

    </script> -->

</body>
}