@()

@main("Cash For Chores") {
    <div class="topnav">
        <form>
            <label> Cash For Chores
                <input type="text" placeholder="Search for available services...">
            </label>
        </form>
    </div>

    <div class="top-divider">
    </div>

    <div class="center" align="center">
        <div class="profile-background-box">
            <div class="profile-box">
                <div class="profile-top">
                    <div class="contact-box">
                        <img src="@routes.Assets.versioned("images/profile_img_placeholder.png")">
                        <table>
                            <tr>
                                <th>Contact Information</th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                            <tr>
                                <td>Jane Doe</td>
                                <td>Mayagüez, Puerto Rico</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <th>Email</th>
                            </tr>
                            <tr>
                                <td>(787)-123-4567</td>
                                <td>email.com</td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="service-text-box" align="left">
                    <h4>Service Description
                    </h4>
                    <div class="service-description">
                        <text>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.
                        </text>
                    </div>
                </div>
            </div>
        </div>
    </div>
}