@()

@main("Profile Settings") {
<div class="main">
    <div class="main-bar">
        <h1>User settings</h1>
    </div>
    <h2 style="color:#f2f2f2">Upload/Change profile picture</h2>
    Profile picture must fit the required size
    <div>
        <input name="file" size="50" type="file">
    </div>
    <div>
        <input type="submit" class="inputButton" name="submit" value="Submit">
    </div>
    <h2 style="color:#f2f2f2">Change cover picture</h2>
    Picture must fit the required size
    <div>
        <input name="file" size="50" type="file">
        <div>
            <input type="submit" class="inputButton" name="submit" value="Submit">
        </div>
    </div>
    <div>
        <h1 style = "color:white" > About me </h1>
        <textarea cols="80" rows="14" class="textarea" name="profile_aboutme"></textarea>
    </div>
    <div>
        <input type="submit" class="inputButton" name="submit" value="Submit">

    </div>
</div>
}
