@()

@main("Profile Settings") {

<!-- <body style="background-color:#E9EBEE;"> -->
    <!-- <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/toolbar.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/user_settings.css")"> -->
<!-- </body> -->

<!-- <div class="topnav">
    <h class="active" href="#home"> <img class="picture" src="https://i.imgur.com/E7mi2px.png" style="width: 75px; height:75px;"> </h>
    <a href="#news" class = "toolbar-btn"><img class="picture" src="https://i.imgur.com/2dKKW6E.png" style="width: 40px;"
                                               height="30"> Home</a>
    <a href="@routes.ProfileController.profile()" class = "toolbar-btn"><img class="picture" src="https://i.imgur.com/nf99dG9.png" style=width="40"
                                                                             height="30"> Profile</a>
    <a href="#contact" class = "toolbar-btn"><img class="picture" src="https://i.imgur.com/4CDBTIJ.png" style=width="40"
                                                  height="30"> Messages</a>

    <div class="settings-dropdown">
        <button class="toolbar-btn" > <img class="picture" src="https://i.imgur.com/d7OZpX3.png" style=width="40"
                                           height="30"> Settings <i class="fa fa-caret-down"></i></button>
        <div class = "settings-content">
@*            <a href = "@routes.ProfileController.logout()"> Logout </a>*@
            <p><a href= "@routes.ProfileSettingsController.profileSettings()"> Profile Settings </a></p>

        </div>
    </div> -->

    <!-- <input type="text" class="search " placeholder="Search...">
</div> -->

<div class="main">
    <div class="main-bar">
        <h1>User settings</h1>
    </div>
    <h2 style="color:#f2f2f2">Upload/Change profile picture</h2>
    Profile picture must fit the required size
    <div>
        <input name="file" size="50" type="file">
    </div>
    <div>
        <input type="submit" class="inputButton" name="submit" value="Submit">
    </div>
    <h2 style="color:#f2f2f2">Change cover picture</h2>
    Picture must fit the required size
    <div>
        <input name="file" size="50" type="file">
        <div>
            <input type="submit" class="inputButton" name="submit" value="Submit">
        </div>
    </div>
    <div>
        <h1 style = "color:white" > About me </h1>
        <textarea cols="80" rows="14" class="textarea" name="profile_aboutme"></textarea>
    </div>
    <div>
        <input type="submit" class="inputButton" name="submit" value="Submit">

    </div>
</div>
}