@()

@main("Profile Settings") {
<div class="main">
    <div class="main-bar">
        <h1>User Settings</h1>
    </div>
    <h2 style="color:#f2f2f2">Upload/Change profile picture</h2>
    Profile picture must fit the required size
    <div>
        <input name="file" size="50" type="file">        <input type="submit" class="inputButton" name="submit" value="Submit">
    </div>

    <div>

    </div>

    <h1></h1>

    <div>
        First name: <textarea cols="30" rows="1" class="textarea" name="firstname"></textarea>
    </div>

    <h1></h1>

    <div>
        Last name: <textarea cols="30" rows="1" class="textarea" name="lastname"></textarea>
    </div>

    <h1></h1>

    <div>
        Location: <textarea cols="30" rows="1" class="textarea" name="location"></textarea>
    </div>

    <h1></h1>

    <div>
        Email: <textarea cols="30" rows="1" class="textarea" name="email"></textarea>
    </div>

    <h1></h1>

    <div>
        Phone number: <textarea cols="30" rows="1" class="textarea" name="phone-number"></textarea>
    </div>

    <div>
        <h1 style = "color:white" > About me </h1>
        <textarea cols="80" rows="14" class="textarea" name="profile_aboutme"></textarea>
    </div>

    <h1></h1>

    <div>
        <input type="submit" class="inputButton" name="submit" value="Save Information">
    </div>
</div>
}