@()

@main("Cash For Chores") {

    <div class="grid-container">
        <div class="profile-grid">
            <div class="user-photo">
                <img id="userPhoto" src="@routes.Assets.versioned("images/profile_img_placeholder.png")"/>
                <div>
                    <input type='file' hidden="hidden"/>

@*                    *@@*                        here is where the adding starts*@
@*                    @helper.form(action = routes.ProfileController.updateProfilePic, Symbol("enctype") -> "multipart/form-data") {*@
@*                        @helper.CSRF.formField*@
@*                        <input type="file" name="picture">*@
@*                        <p>*@
@*                            <button class="buttons" type="submit" id="btnChangePic">Update</button>*@
@*                        </p>*@
@*                    }*@
@*                    @helper.form(action = routes.ProfileController.profilePicDelete(), Symbol("enctype") -> "multipart/form-data") {*@
@*                        @helper.CSRF.formField*@
@*                        <button class="buttons" type="submit" id="btnRemovePhoto" >Remove</button>*@
@*                    }*@


                    <span id="picChosen" hidden="hidden"></span>
                </div>

            </div>
            <div class="user-info">
                <table>
                    <tr>
                        <th>Contact Information</th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                    </tr>
                    <tr>
                        <td>Jane Doe</td>
                        <td>Mayagüez, Puerto Rico</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <th>Email</th>
                    </tr>
                    <tr>
                        <td>(787)-123-4567</td>
                        <td>email.com</td>
                    </tr>

                </table>
            </div>
            <div class="services-description">
                <label id="user-services-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </label>
            </div>

            <div class="services-photos">
                <div class="add-icon">
@*                @helper.form(action = routes.ProfileController.upload, Symbol("enctype") -> "multipart/form-data") {*@
@*                    @helper.CSRF.formField*@
@*                    <input name="picture" type="file">*@
@*                    <p>*@
@*                        <input type="submit">*@
@*                    </p>*@
@*                }*@
                </div>
                <div class="divider"></div>
                <div class="servPhoto-grid-container">
                    <div class="servPhoto-grid">
                        @*                        for(photo <- photos){*@
                        @*                            <img class="d-block w-100" src="photo">*@
                        @*                            }*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}